@import 'public.scss';
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/meterialicons.woff2') format('woff2');
}

/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  background-color:none;
}


/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 2px;
  background-color:none;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, .3);
  background-color: rgb(160, 152, 152);
}
$main-color: #255cac;

html,
body{
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

ul{
  padding: 0;
  margin: 0;
  overflow: hidden;
}

$nav-height: 40px;
nav{
  height: $nav-height;
  background-color: $main-color;
  color: white;
  span.logo{
    height: $nav-height;
    line-height: $nav-height;
    padding: 0 10px;
    font-size: 22px;
  }
  ul.menus{
    float: right;
    li{
      display: inline-block;
      min-width: 80px;
      height: $nav-height;
      line-height: $nav-height;
      text-align: center;
      cursor: pointer;
      &.active{
        color: $main-color;
        background-color: white;
      }
    }
  }
}
footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: $main-color;
  color: white;
}